  *{
      border: 0;
      padding: 0;
      box-sizing: border-box;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
      background-color: #e5fae5;
  }

  header{
      background-color: #b2f0b2;
      border: 100%;
  }

  h1{
      text-align: center;
  }

  .personal-info{
      border: 1px solid #28cc28;
      width: 80%;
      margin: 40px auto;
      font-size: 20px;
  }

  .sended-data{
      border: 1px solid #28cc28;
      width: 80%;
      margin: 40px auto;
  }